# Database 101: Structure and elementary function in SQL

## ðŸ“˜ Introduction
This session introduces SQL, the Structured Query Language, which is used to interact with relational databases. Understanding SQL is fundamental for data analysts and researchers to retrieve, filter, and explore datasets efficiently.

## What is SQL?
SQL (Structured Query Language) is a standard language used to interact with relational databases. It allows you to:
- Retrieve data from one or more tables
- Filter, sort, and aggregate data
- Insert, update, or delete records

> SQL is declarative: you tell the database *what* you want, not *how* to get it.

## What is a Database?
A **database** is a structured collection of data. A **relational database** organizes data into tables. Each **table** consists of:
- **Rows**: individual records (also called tuples)
- **Columns**: attributes of each record

### Example Table: `reviews`
| review_id | game_name | review_text        | rating | review_date |
|-----------|-----------|--------------------|--------|-------------|
| 1         | Game A    | Great experience!  | 5      | 2023-01-01  |
| 2         | Game B    | Needs improvement  | 3      | 2023-02-10  |

## Basic SQL Syntax: `SELECT`
The `SELECT` statement is used to query data from a table.

```sql
SELECT column1, column2 FROM table_name;
```

### Example:
```sql
SELECT game_name, rating FROM reviews;
```

## Filtering Data: `WHERE`
The `WHERE` clause filters rows based on conditions.

```sql
SELECT * FROM reviews WHERE rating >= 4;
```

You can use operators like:
- `=` (equals)
- `!=` or `<>` (not equals)
- `<`, `<=`, `>`, `>=`
- `LIKE` (pattern matching)


## Preview Data: `LIMIT`
The `LIMIT` clause restricts the number of rows returned.

```sql
SELECT * FROM reviews LIMIT 5;
```

Useful for quickly exploring a table without fetching everything.