# SQL: Aggregating and filtering

## Session 2 Overview
In this session, we expand your SQL skills by introducing aggregation functions and grouping techniques. You will learn how to count records, compute averages, group data, and filter aggregated results using `HAVING`. These are essential tools for summarizing large datasets in analytics.


## Quick Recap: `SELECT` and `WHERE`
```sql
SELECT column1, column2 FROM table_name WHERE condition;
```
- `SELECT` chooses columns
- `WHERE` filters rows based on conditions

```python

In [2]:
import sqlite3
import pandas as pd

data = [
    (1, 'Game A', 'Loved it!', 5, '2023-01-01', 'NA', 'PC', 'english'),
    (2, 'Game B', 'Buggy', 2, '2023-01-15', 'EU', 'PC', 'german'),
    (3, 'Game A', 'Amazing', 5, '2023-02-01', 'AS', 'Console', 'japanese'),
]

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE reviews (
        review_id INTEGER,
        game_name TEXT,
        review_text TEXT,
        rating INTEGER,
        review_date TEXT,
        region TEXT,
        platform TEXT,
        language TEXT
    )
''')
cursor.executemany('INSERT INTO reviews VALUES (?, ?, ?, ?, ?, ?, ?, ?)', data)
conn.commit()

## Aggregation Functions: `COUNT`, `AVG`, `MIN`, `MAX`, `SUM`

These functions summarize data:
- `COUNT(*)`: Number of records
- `AVG(column)`: Average value
- `MIN(column)`, `MAX(column)`: Smallest/largest values
- `SUM(Column)`: Sum of values in a numeric column

### Example: Average Rating by Game
```sql
SELECT game_name, AVG(rating) AS avg_rating
FROM reviews
GROUP BY game_name;
```

In [4]:
df = pd.read_sql("""
    SELECT game_name, AVG(rating) AS avg_rating
    FROM reviews
    GROUP BY game_name;
""", conn)

## Using `GROUP BY`
`GROUP BY` segments your data for aggregation. Each group returns one row.

### Example: Count of Reviews by Region
```sql
SELECT region, COUNT(*) AS review_count
FROM reviews
GROUP BY region;
```

In [5]:
df = pd.read_sql_query("""
    SELECT game_name, AVG(rating) AS avg_rating
    FROM reviews
    GROUP BY game_name;
""", conn)

print(df)

  game_name  avg_rating
0    Game A         5.0
1    Game B         2.0


You can group by multiple columns:
```sql
SELECT region, platform, COUNT(*) FROM reviews GROUP BY region, platform;
```


## Filtering Aggregates: `HAVING`
`HAVING` filters groups after aggregation (like `WHERE`, but for groups).

### Example: Only show games with average rating above 4
```sql
SELECT game_name, AVG(rating) AS avg_rating
FROM reviews
GROUP BY game_name
HAVING avg_rating > 4;
```

In [6]:

df = pd.read_sql_query("""
SELECT game_name, AVG(rating) AS avg_rating
FROM reviews
GROUP BY game_name
HAVING avg_rating > 4;
""", conn)

print(df)

  game_name  avg_rating
0    Game A         5.0


## Mini-Challenge (10 min)
**Question**: What games receive the highest average rating per region?

### Sample Solution:
```sql
SELECT region, game_name, AVG(rating) AS avg_rating
FROM reviews
GROUP BY region, game_name
ORDER BY region, avg_rating DESC;
```

```python
pd.read_sql_query("""
SELECT region, game_name, AVG(rating) AS avg_rating
FROM reviews
GROUP BY region, game_name
ORDER BY region, avg_rating DESC;
""", conn)
```


## Exercises on sample data 
1. Count the number of reviews per platform.
2. Show the minimum and maximum ratings for each game.
3. Get the average rating per language.
4. Which games have an average rating of 4 or more on PC?

For the exercises below, you will need to log into your Snowflake account. We will, in Course B, learn how to do this directly from a Jupyter Notebook.

## Exercises on Snowflake data

1. The table ```PDX_EXPERMINENTS.UR_DS_COURSE_MATERIAL.DAU_KPI_GAMES``` contains the daily ```DAU``` for a number of games between the date ```2025-05-01``` and ```2025-06-30```. The ```ACCOUNT_DAU``` is the ```DAU``` of players with a Paradox Account. 
- What was the total number of EU4 players between June 1 and the 15th of June, in each country (Country is given by the column `GEOLOCATION`). Order the descending. 
- How many daily active users had a Paradox account?

2. The table ```PDX_EXPERIMENTS.UR_DS_COURSE_MATERIAL.VICTORIA3_VERIFICATION``` contains several columns for the period ```2025-05-01``` and ```2025-06-30``` for Victoria 
- What are the unique columns?
- How many unique users can be suspected pirates?

3. The table ```PDX_EXPERIMENTS.UR_DS_COURSE_MATERIAL.VICTORIA3_GAME_RULES``` contains information about which game rules were used by players of Victoria 3 between the date ```2025-05-01``` and ```2025-06-30```
- What are the unique values of ```AI_BEHAVIOR```?
- Create a table with columns ```NAME```, ```AI_BEHAVIOR``` and ```COUNT```, where count is the number of unique players of each ```AI_BEHAVIOR``` in each country. Sort the data alphabetically by ```NAME``` and descending by ```COUNT```.





## Summary
Today you learned how to:
- Use aggregation functions like `COUNT`, `AVG`, `MIN`, `MAX`
- Segment data with `GROUP BY`
- Filter grouped results with `HAVING`

Next session: **Sorting, Aliasing & Formatting Output**.